.landingContainer {
    min-width: 100%;
    height: 120vh;
    padding: 10vh 10rem 0 10rem;
    background-color: var(--primary-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/src/assets/img/blueBg.png"),
        url("/src/assets/img/blueBg.png");
    background-repeat: no-repeat;
    background-position: top -400px left -250px, bottom -500px left -400px;
    background-size: 800px;
}

.landingFlexItem {
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
}

.landingFlexItem:nth-of-type(2) {
    align-items: flex-end;
}

.landingHeader {
    font-size: var(--font-size-xl);
    font-weight: 700;
    line-height: 0.9;
    color: var(--white);
    padding-bottom: 2.5rem;
}

.landingText {
    font-size: var(--font-size-md);
    font-weight: 500;
    color: var(--white);
    padding-bottom: 2.5rem;
}

.landingBtnContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.landingBtn {
    display: grid;
    place-items: center;
    height: 4rem;
    width: 14rem;
    font-size: var(--font-size-md);
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    color: var(--white);
    background-color: var(--secondary-purple);
    outline: none;
    border: none;
    border-radius: 10px;
}

.landingBtn:nth-child(2) {
    margin-left: 1rem;
    background-color: transparent;
    border: 4px solid var(--secondary-purple);
}

.landingImg {
    border-radius: 20px 0 0 20px;
    height: 90%;
    width: auto;
    position: absolute;
    left: 5rem;
    top: 9rem;
}

.landingNametag {
    position: absolute;
    width: 18rem;
    height: 4.5rem;
    background-color: var(--white);
    right: -5rem;
    top: 6.5rem;
    z-index: 1;
    border-radius: 20px;
    display: grid;
    place-items: center;
    font-size: var(--font-size-md);
    font-weight: 600;
    color: var(--secondary-text);
}

.quote {
    color: var(--secondary-purple);
    position: absolute;
    font-size: 2.5rem;
    bottom: 3.5rem;
    right: 1.2rem;
}

@media only screen and (max-width: 1300px) {
    .landingContainer {
        padding: 10vh 7rem 0 7rem;
    }
}
