.logo {
    text-transform: uppercase;
    line-height: 0.8;
    letter-spacing: -2px;
    color: rgba(255, 255, 255, 1);
}

.logo h1 {
    font-size: 2rem;
}

.logo h2 {
    color: rgba(94, 74, 227, 1);
    letter-spacing: -1.5px;
}

.icon {
    display: inline-block;
    padding-bottom: -2rem;
    color: #fff;
}
